---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little bit about me and my background."
	pubDate={new Date('2023-12-30')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		私は...
	</p>

	<p>
		現在は...
	</p>

	<p>
		趣味の活動として...
	</p>

	<p>
		また、個人的なビジネスとして...
	</p>

	<p>
		よろしくお願いします。
	</p>
</Layout>
