---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>続・おもに会社向け</h1>
			<p>
				このサイトは <a href="https://ykwakuto.blogspot.com/">おもに社内向け（仮）</a> という、（かつて）社内向けに書いていたブログの続編です。
			</p>
			<p>
				おもに社内向け（仮）では blogger を使っていましたが、投稿はbloggerのエディタを使わず、StackEditで書いたものを blogger に連携して投稿していました。
			</p>
			<p>
				StackEditに残っていたMarkdownファイルを、このサイトに移行しました。
			</p>
			<p>
				このサイトは <a href="https://astro.build/">Astro</a> のブログスターターテンプレートを使用しています。
			</p>
		</main>
		<Footer />
	</body>
</html>
